/.nb-gradle/
/Renderer/bin/
/Renderer/gen/
/Renderer/build/
/RendererTester/nbandroid/
/RendererTester/bin/
/RendererTester/gen/
/RendererTester/build/
/Renderer/nbandroid/
/TestAndroidRenderer3/gen/
/TestAndroidRenderer3/bin/
/mapfragment-demo/bin/
/mapfragment-demo/gen/
/mapfragment-demo/build/
/mapfragment-demo/AndroidManifest.xml
/mapfragment-demo/ant.properties
/mapfragment-demo/project.properties
local.properties
/mapfragment-demo/nbandroid/

