/.nb-gradle/private/
/Renderer/build/
/RendererTester/nbandroid/
/Renderer/nbandroid/
/Renderer/gen/
/RendererTester/gen/
/RendererTester/build/
/Renderer/bin/
/TestAndroidRenderer3/gen/
/TestAndroidRenderer3/bin/
/RendererTester/bin/
/mapfragment-demo/bin/